[Unit]
Description=Check Oro Aroma testing branches for deployable commits

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=10s
Persistent=true

[Install]
WantedBy=timers.target
